div#avion {
    display: grid;
    grid-template-columns: 33px 33px 33px 33px 33px 33px 33px 33px;
    grid-template-rows: 33px 53px 33px 33px;
}

body {
    background-color: #2e2e5c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
}

div#container {
    background-color: aliceblue;
    padding: 5%;
    width: 600px;
    margin: 10px;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

