* {
    padding: 0;
    margin: 0;
}

div.modal-body {
    display: flex;
    flex-direction: column;
}

div.modal-body input {
    margin: 1%;
}

div#registrate {
    display: flex;
    justify-content: space-around;
}

.btn.btn-primary {
    display: flex;
    align-items: center;
    margin: 18px;
    background-color: #2e2e5c;
    border-color: white;
    justify-content: space-around;
}

img#iniSes {
    margin-right: 4%;
    width: 20px;
}

body {
    /* background-color: #2e2e5c; */
    /* background-color: rgb(86 86 202 / 58%); */
}

#fondoHome {
    background-image: url(../img/avion3.png);
    opacity: 0.8;
    width: 100%;
    height: 103%;
    position: absolute;
    top: -20px;
    z-index: -1;
    background-size: cover;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.busqueda {
    background-color: white;
    width: 55%;
    margin-top: 13%;
    border: 1px solid grey;
    border-radius: 10px;
    height: fit-content;
    padding: 2%;
    box-shadow: 1px 1px 5px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1%;
}

.busqueda input[type=text] {
    width: 45%;
    height: 34px;
    font-size: large;
    padding-left: 5px;
}

select {
    width: 45%;
    height: 34px;
    font-size: large;
    padding-left: 5px;
}

.busqueda input[type=number] {
    width: 150px;
    height: 30px;
    font-size: large;
    padding-left: 5px;
}

.busqueda input[type=date] {
    width: 150px;
    height: 30px;
    font-size: large;
    padding-left: 5px;
}

#buscar {
    width: 100%;
    font-family: system-ui;
    font-size: large;
    color: white;
    font-weight: 500;
    background-color: #2e2e5c;
    border: 0.5px solid white;
    border-radius: 5px;
    padding: 1.5%;
}

#buscar:hover {
    background-color: #4e4e79;
    color: white;
}


#vuelos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    gap: 70px;
}

.cajareserva {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    height: 100px;
    text-align: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
}

.cajareserva button {
    background-color: #2e2e5c;
    color: white;
    font-family: system-ui;
    font-size: large;
    border: 0.5px solid white;
    width: 160px;
    height: 40px;
}

.cajareserva p {
    font-size: x-large;
    justify-content: space-between;
}

div.busqueda.busqueda2 {
    width: 90%;
    margin-top: 1%;
    height: fit-content !important;
    display: flex;
    justify-content: space-around;
}

button:hover {
    background-color: #4e4e79;
}

div#edimburgo img {
    width: 200px;
    border-radius: 100px;
}

div#paris img {
    width: 200px;
    border-radius: 100px;
}

div#mexico img {
    width: 200px;
    border-radius: 100px;
}

div#destinos_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 350px;
    padding-bottom: 10%;
}

div#destinos {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

div.destinos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#destinos_container h3 {
    margin-bottom: 4%;
    color: #2e2e5c;
}

div.destinos label {
    font-size: larger;
    font-weight: 500;
    margin-top: 6%;
    color:#2e2e5c;
}